<h1>Login</h1>
<br>

<div>
    <form action="" autocomplete="off">


        <input type="text"
        placeholder="correo"
        name="correo"
        [(ngModel)]="usuario.email"/>

        <div *ngIf="!validaremial">
                <p>Email no Valido</p>
        </div>

        <br>
        <br>


        <input type="password"
        name="correo" 
        placeholder="contrasena"
        [(ngModel)]="usuario.password"/>

        <br><br>
            <button type="reset" (click)="Ingresar()" >Ingresar Datos</button>

    </form>
</div>
<br>
<br>
